* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.game-container {
    width: 1200px;
    height: 600px;
    background-color: rgb(184, 235, 108);
    position: relative;
}

.sprite {
    background-color: orangered;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 375px;
    top: 275px;
}

